__pycache__/
.edge-web-smoke/

build/
build_refresh/
build_refresh2/
build_release/

dist/
dist_refresh/
dist_refresh2/
dist_release/
release_portable/

*.pyc
*.pyo
*.pyd

vmu_70_record.json
mobile_web/dom_dump.html

code.txt
VMU70Desktop.spec
build_exe.bat
run_vmu_70.bat
vmu70_desktop.py
vmu70_icon.ico
logo-70-main.png
Logo-Truong-Dai-Hoc-Hang-Hai.webp
